<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,300,0,0" />
    
</head>
<body>
    <div class="logo"><img src="images/logo.png" alt="logo" height="100%"></div>
    <nav>
        <a href="#">
            <span class="material-symbols-outlined">
                home
            </span>
        Home</a>
        <a href="#">Contact Us</a>
        <a href="/login"><span class="material-symbols-outlined">
            login
            </span>
        Login</a>
    </nav>


    <div id="section1">
        <h1 style="margin: 0px auto;">Ctrl<span style="color: #33A650;">+</span>Shift<span style="color: #33A650;">+</span>Conquer</h1>
        <h4>An innovation to Conquer the world</h4>
        <button class="button" onclick="window.location.href='/login'">Sign in</button>
        <button class="button" onclick="window.location.href='/signup'">Sign up</button>
    </div>

    <div id="section2">
        <!-- <div class="card1">
            <div class="round1"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">All AI tools at a place</h1>
            <br><br>
            <p>Discover a centralized hub for diverse AI tools, ideal for students, researchers, developers, and AI enthusiasts. This curated selection spans various domains within artificial intelligence, simplifying exploration and access.</p>
             -->
        <!-- </div>
        <div class="card2">
            <div class="round2"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">Personalized Learning Path</h1><br>
            <p>Explore a tailored learning experience with our "Personalized Learning Path" powered by machine learning. Predictive and efficient, this innovative feature guides you through a unique educational adventure, ensuring a customized learning journey.</p>
        </div>
        <div class="card3">
            <div class="round3"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">Resources & Documentation</h1>
        </div> -->
    </div>

    <script src="js/index.js"></script>
</body>
</html>