<%- include('./theme/header'); -%>


<div id="section1">
        <h1 style="margin: 0px auto;">Ctrl<span style="color: #33A650;">+</span>Shift<span style="color: #33A650;">+</span>Conquer</h1>
        <h4>An innovation to Conquer the world</h4>
    </div>

    <div id="section2">
        <div class="card1">
            <div class="round1"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">All AI tools at a place</h1>
            <br><br>
            <p>Discover a centralized hub for diverse AI tools, ideal for students, researchers, developers, and AI enthusiasts. This curated selection spans various domains within artificial intelligence, simplifying exploration and access.</p>
            <!-- <p>Welcome to our comprehensive collection of AI tools, all conveniently gathered in one place! This page serves as a hub for various artificial intelligence tools designed to cater to diverse needs and interests. Whether you're a student, researcher, developer, or an AI enthusiast, you'll find a curated selection of tools that span different domains within the realm of artificial intelligence.</p> -->
        </div>
        <div class="card2" onclick="window.location.href='/learningpath'">
            <div class="round2"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">Personalized Learning Path</h1><br>
            <p>Explore a tailored learning experience with our "Personalized Learning Path" powered by machine learning. Predictive and efficient, this innovative feature guides you through a unique educational adventure, ensuring a customized learning journey.</p>
        </div>
        <div class="card3">
            <div class="round3"></div>
            <br><br><br><br>
            <h1 style="font-size: 25px;">Resources & Documentation</h1>
        </div>
    </div>

    
<%- include('./theme/footer'); -%>
