<%- include('../theme/header'); -%>

<div class="learningPath">

    <div class="one"><div class="triangleLeft"></div><div class="content"><h3>Confused about choosing Language?</h3></div></div>
    <div class="two"><div class="triangleRight"></div><div class="contentRight"><h3>Confused about choosing Language?</h3></div></div>
    <div class="one"><div class="triangleLeft"></div><div class="content"><h3>Confused about choosing Language?</h3></div></div>
    <div class="two"><div class="triangleRight"></div><div class="contentRight"><h3>Confused about choosing Language?</h3></div></div>
    
</div>


<%- include('../theme/footer'); -%>

